:root {
    --poppins-font: 'Poppins', sans-serif;
    --anybody-font: 'Anybody', cursive;
}

body {
    box-sizing: border-box;
    padding: 0rem;
    margin: 0rem;

    display: flex;
    justify-content: center;
    background-color: #1d1e1f;
}

.form-container {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: #f7f7f7;
}

.name-container {
    display: flex;
}

.action-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 1.5rem;
    font-family: var(--poppins-font);
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    position: absolute;
    top: 10vh;
    height: 15vh;
    width: 30vw;
    background-color: #f7f7f733;
}

.name-container > img {
    width: 30vw;
    object-fit: cover;
}

.logo-container > h1 {
    font-family: var(--anybody-font);
    font-size: 2rem;
}

.signup-container {
    height: 45vh;
    width: 70vw;
    margin-left: -1.5rem;
    background-color: #ffffff;
}

button {
    display: flex;
    align-items: center;
    height: 2rem;
    border: 0rem;
    border-radius: 0.5rem;
    padding: 1rem;
    background-color: #b4454e;
    color: #ffffff;
}

button:hover {
    background-color: #b4454edd;
}

p a {
    text-decoration: none;
    color: #b4454e;
}

.signup-container p {
    margin: 1.5rem;
}

.row1,
.row2,
.row3 {
    display: flex;
}

.input-container {
    display: flex;
    flex-direction: column;
}

label,
input {
    margin: 0rem 1.5rem;
}

input {
    height: 1.5rem;
    width: 12rem;
    margin-bottom: 1rem;
}

.email {
    width: 10rem;
}